## "Crandard" template
## robcranfill@gmail.com
##
## based on a template for WeeWX, which is
## Copyright 2009-2018 Tom Keffer
##

#errorCatcher Echo

##
## Specifying an encoding of UTF-8 is usually safe:
#encoding UTF-8
##

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link href='https://fonts.googleapis.com/css?family=Stylish' rel='stylesheet'>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <style>
        .currentTemp {
            font-family: 'Stylish'; font-size: 128px;
            # border: 1px outset red;
            background-color: lightblue;
            text-align: center;
            line-height: 70%;
            padding-top:     5px;
            padding-bottom: 15px;
        }
        .tempSummary {
            font-family: 'Stylish'; font-size:  48px;
            # border: 1px outset red;
            background-color: lightgreen;
            text-align: center;
            line-height: 10%;
            padding: 5px;
        }
        .rainSummary {
            font-family: 'Stylish'; font-size:  48px;
            # border: 1px outset red;
            background-color: lightblue;
            text-align: center;
            line-height: 100%;
            padding: 5px;
          }
          .currentTime {
            font-family: 'Stylish'; font-size: 32px;
            # border: 1px outset red;
            background-color: lightgreen;
            text-align: center;
            line-height: 100%;
            padding: 5px;
          }

    </style>
</head>
<body>

   <div class="currentTemp">$current.outTemp</div>

   <div class="tempSummary">
      <p>hi: $day.outTemp.max @$day.outTemp.maxtime.format("%-I:%M %p")</p>
      <p>lo: $day.outTemp.min @$day.outTemp.mintime.format("%-I:%M %p")</p>
   </div>

   <div class="rainSummary">Rain today: $day.rain.sum; this week: $week.rain.sum</div>

   <div class="currentTime">$current.dateTime.format("%-I:%M %p - %A, %-d %b %Y")</div>

</body>
</html>
